#top-layer {
    position: fixed;
    color: red;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: black;
    z-index: 99999;
}

#inner-layer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

